.txt {
    -fx-font-family: "Quicksand";
    -fx-font-size: 12;
    -fx-border-radius: 5;
    -fx-border: null;
    -fx-background-color: white;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.2), 0.5, 0.0, 0, 1);
}

.root {
    -fx-background-color: #eeefee;
}

.button {
    -fx-text-fill: #757575;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.2), 0.5, 0.0, 0, 1);
}

.button:hover {
    -fx-background-color: null;
    -fx-font-weight: bold;
    -fx-effect: null;
}

.vocabButton:hover {
    -fx-border-color: #1e90ff;
    -fx-text-fill: #1e90ff;
}

.transButton:hover {
    -fx-border-color: #ff7b1f;
    -fx-text-fill: #ff7b1f;
}

.exitButton:hover {
    -fx-border-color: #ff3737;
    -fx-text-fill: #ff3737;
}

.addEditDelButton:hover {
    -fx-border-color: white;
    -fx-text-fill: white;
}

.tv {
}

.txt_translate_title {
    -fx-border-color: white;
    -fx-border-radius: 10;
}
